html, body {
	font-family: "Open Sans";
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
	color: #333;
	flex-wrap: wrap;
	overflow: hidden;
}

.error big {
	font-size: 30vh;
	display: block;
	margin-bottom: -7vh;
}
.error p {
	font-size: 3.75vh;
	font-weight: 100;
	margin: 0px;
	margin-bottom: 1.5vh;
	display: block;
	text-align: center;
	color: #e74c3c;
}
.error small {
	font-size: 1.5vh;
	font-weight: 100;
	text-align: center;
	display: block;
	opacity: 0.75;
	padding-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.error a {
	color: #3498db;
	text-decoration: none;
}
