body {
	background-color: #f5f5f5;
}
.max {
	width:100%;
}
.mg {
	margin-top: 25px;
}
.zeromarg {
	margin: 0 !important;
}
.mg-left {
	margin-left: 5%;
}
.br-right {
	background: rgba(0,0,0,0.025);
    border-right: 1px solid rgba(0,0,0,0.1);
}
.bot {
	margin-bottom: 20px;
}
.align {
	align-items: center;
	background: white;
    border-radius: 2px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.1);
}
.date {
	text-align: center;
    line-height: 3;
    font-size:50px;
}
.day {
	text-align: left;
    line-height: 3;
    width:100%;
}
.temp {
	text-align: center;
    font-size:20px;
}
.user {
	font-size: 20px;
    color: white;
    margin-right: 20px;
}
.btnwhite {
	text-decoration: none;
    color: white;
}
.btnwhite:hover {
	text-decoration: none;
    color: white;
}
.ticket {
	border: 3px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.mgleft {
	margin-left: 10px;
}
.mr-auto-left {
	margin-left: auto!important;
}